<div class="main-wrapper">
    <div class="account-content">
        <div class="login-wrapper">
            <div class="login-content">
                <div class="login-userset">
                    <form #form="ngForm" (ngSubmit)="onSubmit()">
                        <div class="login-logo">
                            <img src="assets/img/logo.png" alt="img">
                        </div>
                        <div class="login-userheading">
                            <h3>Connexion</h3>
                            <h4>Oublie mot de passe</h4>
                        </div>
                        
                        <div class="form-login">
                            <label>Email</label>
                            <div class="form-addons">
                                <input type="email"  [(ngModel)]="email" name="email"  placeholder="Entrez votre adresse e-mail" required email>
                                <img src="assets/img/icons/mail.svg" alt="img">
                            </div>
                            <div *ngIf="form.submitted || form.controls?.['email']?.touched">
                                <small *ngIf="form.controls?.['email']?.errors?.['required']" class="text-danger">L'email est requis</small>
                                <small *ngIf="form.controls?.['email']?.errors?.['email']" class="text-danger">Format d'email invalide</small>
                            </div>
                        </div>
                         
                        <div class="form-login">
                            <button class="btn btn-login" type="submit">Envoyee</button>
                        </div>
                        <div class="form-login">
                            <button class="btn btn-inscription" type="button" routerLink="/register">Inscription</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="login-img">
                <img src="../../../assets/img/login.jpg" alt="img">
            </div>
        </div>
    </div>
</div>
